.loadingContainer {
  padding: 48px 24px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 60px auto 2rem auto;
  padding: 32px 24px;
  color: #111827;
}

.title {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
  color: #111827;
}